<table class="w-full rounded shadow my-5 border border-golden">
    <tr class="flex bg-light text-golden text-center justify-around rounded-top">
        {% block headers %}{% endblock %}
    </tr>
        {% block rows %}{% endblock %}
</table>